
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Opend Menu -------------------------------*/
.menuBlock {
    background: rgba(0, 0, 0, 0.85);
    width: 286px;
    height: 100vh;
    max-height: 1500px;
    position: absolute;
    overflow: hidden;
    transition: 
        width ease-out 0.4s, 
        border-radius 3s, 
        max-height ease-out 0.5s 0.4s;
}

.menuIconBox {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 16px;
    transition: padding-right 0.4s;
}

.menuIconBox span {
    width: 37px;
    height: 37px;
    background: url(../../../static/imgs/menuX.png) no-repeat center center;
    background-size: contain;
    border: 1px solid #f6f6f6;
    border-radius: 10px;
    transition: transform 0.5s, background 0.6s;
}

.menuIconBox span:hover {
    background-color: rgba(0, 0, 0, 1);
}

.navBlock { 
    font-family: sans-serif;
    font-size: 18px;
}

.navBlock hr {
    margin-bottom: 30px;
}

.navBlock a {
    text-decoration: none;
}

.userBox, .navBox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 25px 10px 20px;
    width: 286px;
}

.navBlock a :hover {
    background-color: rgba(0, 0, 0, 0.95);
}

.userBox img, .navBox img {
    width: 50px;
}

.userBox img.exit-img {
    width: 35px;
}

.userBox p, .navBox p {
    text-transform: capitalize;
    color: #f6f6f6;
    padding-left: 12px;
}

.userBox p {
    padding: 0 106px 0 12px;
}

.navSubBox::-webkit-scrollbar {
    width: 5px;
    background-color: #303030;
    border-radius: 10px;
}

.navSubBox::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #f6f6f6;
}
 
/* Closed Menu ---------------------------------------*/
.menuBlock.closedMenu {
    width: 82px;
    overflow: hidden;
}

.menuBlock.closedMenu .menuIconBox {
    padding-right: 26px;
}

.menuBlock.closedMenu .menuIconBox span {
    background: url(../../../static/imgs/menuFechado.png) no-repeat center center;
    background-size: contain;
    transform: rotate(90deg);
}

.menuBlock.closedMenu .menuIconBox span:hover {
    background-color: rgba(0, 0, 0, 0.95);
}

/* Closed Mobile Menu -----------------------------*/
@media screen and (max-width: 600px) {
    .menuBlock.closedMenu {
        max-height: 65px;
        border-radius: 0px 0px 12px;
    }

    .menuBlock.closedMenu .menuIconBox {
        padding-right: 23px;
    }
}

/* General desktop -----------------------------------------*/
main.content {
    background: #d3d3d3;
    min-height: 100vh;
    padding: 20px 40px 20px 140px;
    display: flex;
    background-size: cover;
}

section.section-main-box {
    border: 1px solid darkgrey;
    border-radius: 14px;
    box-shadow: -4px 0px 6px grey;
    background: #fafafa;
    font-family: sans-serif;
    display: inherit;
    flex-direction: column;
    width: 100%;
    transition: 0.4s 0.8s;
}

.title-page {
    text-align: center;
    font-size: 28px;
    padding: 3% 0px;
}

.content-box {
    padding: 0 6%;
    height: 100%;
    font-size: 21px;
}

.register-box {
    display: flex;
    flex-direction: column;
    height: auto;
}

.register-box label {
    margin-bottom: 5px;
}

.register-box input {
    border-radius: 4px;
    font-size: 18px;
    font-family: monospace;
    padding: 4px 10px;
    margin-bottom: 20px;
    border-color: #d3d3d3;
}

.register-box input:focus {
    outline-offset: 1px;
    outline-color: unset;
}

.buttonBox {
    display: flex;
    justify-content: flex-end;
    padding: 13px 17px;
    margin-top: 25px;
}

.submit-button {
    padding: 5px 30px;
    width: 135px;
    border: 1px solid darkgray;
    border-radius: 6px;
    box-shadow: 1px 1px 2px darkslategray;
    cursor: pointer;
    margin-left: 20px;
    font-size: 17px;
}

.submit-button.confirm {
    border-color: green;
}

.submit-button.clean {
    border-color: red;
}

/* General mobile  ---------------------------------------*/
@media(max-width: 600px) {
    main.content {
        padding: 20px 10px 20px 10px;
    }
}

/* Register Section  -------------------------------*/
.register-section .register-type {
    margin-bottom: 20px;
    padding: 10px 15px 10px 0;
}

.register-section .register-type label {
    margin-right: 15px;
}

.register-section select {
    height: 30px;
    font-size: 18px;
    background: #fafafa;
    border-radius: 3px;
}

.register-section .register-data-box {
    border: 2px solid #505050;
    border-radius: 12px;
    min-inline-size: auto;
}

.register-section .register-box {
    max-height: 0;
    overflow: hidden;
    padding: 0px;
    transition: max-height ease-out 0.3s, padding ease-out 0.3s;
}

.logistic-operator .register-box.logistic-operator,
.delivery-man .register-box.delivery-man,
.scooter .register-box.scooter {
    padding: 3% 5%;
    transition-delay: 0.4s; 
}

.logistic-operator .register-box.logistic-operator {
    max-height: 160px;
}

.delivery-man .register-box.delivery-man {
    max-height: 360px;
}

.scooter .register-box.scooter{
    max-height: 180px;
 }

/* Register Section Mobile ------------------------- */
@media(max-width: 600px) {
    
    .register-section .register-type {
        margin-bottom: 20px;
        padding: 10px 15px 10px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logistic-operator .register-box.logistic-operator,
    .delivery-man .register-box.delivery-man,
    .scooter .register-box.scooter {
        padding: 7% 5%;
    }
}


/* Add Movement ------------------------- */

section.movement-section {}