
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Opend Menu -------------------------------*/
.menuBlock {
    background: rgba(0, 0, 0, 0.85);
    width: 286px;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    transition: 
        width ease-out 0.4s, 
        border-radius 3s, 
        height ease-out 0.5s 0.4s;
}

.menuIconBox {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 16px;
    transition: padding-right 0.4s;
}

.menuIconBox span {
    width: 37px;
    height: 37px;
    background: url(../../../static/imgs/menuX.png) no-repeat center center;
    background-size: contain;
    border: 1px solid #f6f6f6;
    border-radius: 10px;
    transition: transform 0.5s, background 0.6s;
}

.menuIconBox span:hover {
    background-color: rgba(0, 0, 0, 1);
}

.navBlock { 
    font-family: sans-serif;
    font-size: 18px;
}

.navBlock hr {
    margin-bottom: 30px;
}

.navBlock a {
    text-decoration: none;
}

.userBox, .navBox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 25px 10px 20px;
    width: 286px;
}

.navBlock a :hover {
    background-color: rgba(0, 0, 0, 0.95);
}

.userBox img, .navBox img {
    width: 50px;
}

.userBox img.exit-img {
    width: 35px;
}

.userBox p, .navBox p {
    text-transform: capitalize;
    color: #f6f6f6;
    padding-left: 12px;
}

.userBox p {
    padding: 0 106px 0 12px;
}

.navSubBox::-webkit-scrollbar {
    width: 5px;
    background-color: #303030;
    border-radius: 10px;
}

.navSubBox::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #f6f6f6;
}
 
/* Closed Menu ---------------------------------------*/
.menuBlock.closedMenu {
    width: 82px;
    overflow: hidden;
}

.menuBlock.closedMenu .menuIconBox {
    padding-right: 26px;
}

.menuBlock.closedMenu .menuIconBox span {
    background: url(../../../static/imgs/menuFechado.png) no-repeat center center;
    background-size: contain;
    transform: rotate(90deg);
}

.menuBlock.closedMenu .menuIconBox span:hover {
    background-color: rgba(0, 0, 0, 0.95);
}

/* Closed Mobile Menu -----------------------------*/
@media screen and (max-width: 600px) {
    .menuBlock.closedMenu {
        height: 65px;
        border-radius: 0px 0px 12px;
    }

    .menuBlock.closedMenu .menuIconBox {
        padding-right: 23px;
    }
}

/* General desktop -----------------------------------------*/
main.content {
    background: #d3d3d3;
    min-height: 100vh;
    padding: 20px 40px 20px 120px;
    display: flex;
    background-size: cover;
    transition: 0.5s;
}

section.section-main-box {
    border: 1px solid darkgrey;
    border-radius: 14px;
    box-shadow: -4px 0px 6px grey;
    background: #fafafa;
    font-family: sans-serif;
    display: inherit;
    flex-direction: column;
    width: 100%;
    transition: 0.4s 0.8s;
}

.title-page {
    text-align: center;
    font-size: 28px;
    padding: 3% 0px;
}

.content-box {
    padding: 0 6%;
    height: 100%;
    font-size: 21px;
}

.content-box select {
    height: 30px;
    font-size: 18px;
    background: #fafafa;
    border-radius: 3px;
    padding: 0 10px;
}

.data-box {
    border: 2px solid #505050;
    border-radius: 12px;
    min-inline-size: auto;
}

.register-type {
    margin-bottom: 20px;
    padding: 10px 15px 10px 0;
}

.register-type label {
    margin-right: 15px;
}

.field-box {
    display: flex;
    flex-direction: column;
    height: auto;
    max-height: 500px;
    overflow: hidden;
}

.field-box label {
    margin-bottom: 5px;
    margin-right: 15px;
}

.field-box input {
    border-radius: 4px;
    font-size: 18px;
    font-family: monospace;
    padding: 4px 10px;
    margin-bottom: 5px;
    margin-right: 0;
    border-color: #d3d3d3;
}

.field-box input:focus {
    outline-offset: 1px;
    outline-color: unset;
}

.field-box input[type='checkbox'] {
    min-width: 20px;
    min-height: 20px;
    margin-right: 40px;
}

.buttonBox {
    display: flex;
    justify-content: flex-end;
    padding: 20px 23px;
    margin-top: 25px;
}

.submit-button {
    padding: 5px 30px;
    width: 135px;
    border: 1px solid darkgray;
    border-radius: 6px;
    box-shadow: 1px 1px 2px darkslategray;
    cursor: pointer;
    margin-left: 20px;
    font-size: 17px;
}

.submit-button.confirm {
    border-color: green;
}

.submit-button.clean {
    border-color: red;
}

/* General mobile  ---------------------------------------*/
@media(max-width: 600px) {
    .field-box input {
        margin-right: 25px;
    }

    main.content {
        padding: 20px 10px 20px 10px;
    }
   
    .register-type {
        margin-bottom: 20px;
        padding: 10px 15px 10px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* Register Section  -------------------------------*/
.register-section .field-box {
    max-height: 0;
    overflow: hidden;
    padding: 0px;
    transition: all ease-out 0.3s;
}

.logistic-operator .field-box.logistic-operator,
.delivery-man .field-box.delivery-man,
.scooter .field-box.scooter {
    padding: 3% 5%;
    transition-delay: 0.4s; 
}

.logistic-operator .field-box.logistic-operator {
    max-height: 160px;
}

.delivery-man .field-box.delivery-man {
    max-height: 360px;
}

.scooter .field-box.scooter{
    max-height: 225px;
 }

/* Register Section Mobile ------------------------- */
@media(max-width: 600px) {
    .logistic-operator .field-box.logistic-operator,
    .delivery-man .field-box.delivery-man,
    .scooter .field-box.scooter {
        padding: 7% 5%;
    }
}

/* Add Movement Section ------------------------- */

section.add-movement-section .field-box {
    padding: 3% 5%;
    border-bottom: 2px solid #505050;
    flex-direction: row;
    flex-wrap: wrap;
    transition: max-height 0.8s 0.2s, padding 0.9s;
}

section.add-movement-section .data-box :last-child.field-box {
    border: none;
}

.add-movement-section .field-box input {
    width: initial;
    margin-left: 20px;
    display: flex;
    margin-right: 200px;
}

.add-movement-section .field-box label {
    display: flex;
}

.add-movement-section .field-box input[type='checkbox'] {
    width: min-content;
    margin-right: 100px;
}

.add-movement-section .content-box select {
    width: 200px;
    margin-left: 20px ;
}


.internal .field-box.delivery-man,
.internal .field-box.accessories {
    max-height: 0px;
    padding: 0;
}

/* Add Movement Section Mobile------------------------- */

@media(max-width: 600px) {
    section.add-movement-section .field-box {
        padding: 7% 5%;
    }

    .add-movement-section .field-box input {
        margin-right: 20px;
        max-width: 140px;
    }

    .add-movement-section .field-box label {
        margin-right: 0px;
        max-width: 220px;
    }

    .add-movement-section .content-box select {
        width: 200px;
    }
}