
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Opend Menu -------------------------------*/
.menuBlock {
    background: rgba(0, 0, 0, 0.85);
    width: 286px;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    transition: 
        width ease-out 0.4s, 
        border-radius 3s, 
        height ease-out 0.5s 0.4s;
}

.menuIconBox {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 16px;
    transition: padding-right 0.4s;
}

.menuIconBox span {
    width: 37px;
    height: 37px;
    background: url(../../../static/imgs/menuX.png) no-repeat center center;
    background-size: contain;
    border: 1px solid #f6f6f6;
    border-radius: 10px;
    transition: transform 0.5s, background 0.6s;
}

.menuIconBox span:hover {
    background-color: rgba(0, 0, 0, 1);
}

.navBlock { 
    font-family: sans-serif;
    font-size: 18px;
}

.navBlock hr {
    margin-bottom: 30px;
}

.navBlock a {
    text-decoration: none;
}

.userBox, .navBox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 25px 10px 20px;
    width: 286px;
}

.navBlock a :hover {
    background-color: rgba(0, 0, 0, 0.95);
}

.userBox img, .navBox img {
    width: 50px;
}

.userBox img.exit-img {
    width: 35px;
    cursor: pointer;
}

.userBox p, .navBox p {
    text-transform: capitalize;
    color: #f6f6f6;
    padding-left: 12px;
}

.userBox p {
    padding: 0 106px 0 12px;
}

.navSubBox::-webkit-scrollbar {
    width: 5px;
    background-color: #303030;
    border-radius: 10px;
}

.navSubBox::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #f6f6f6;
}
 
/* Closed Menu ---------------------------------------*/
.menuBlock.closedMenu {
    width: 82px;
}

.menuBlock.closedMenu .menuIconBox {
    padding-right: 26px;
}

.menuBlock.closedMenu .menuIconBox span {
    background: url(../../../static/imgs/menuFechado.png) no-repeat center center;
    background-size: contain;
    transform: rotate(90deg);
}

.menuBlock.closedMenu .menuIconBox span:hover {
    background-color: rgba(0, 0, 0, 0.95);
}

/* Closed Mobile Menu -----------------------------*/
@media screen and (max-width: 600px) {
    .menuBlock.closedMenu {
        height: 65px;
        border-radius: 0px 0px 12px;
    }

    .menuBlock.closedMenu .menuIconBox {
        padding-right: 23px;
    }
}

/* General desktop -----------------------------------------*/
main.content {
    background: #d3d3d3;
    min-height: 100vh;
    padding: 20px 40px 20px 120px;
    display: flex;
    background-size: cover;
}

section.section-main-box {
    border: 1px solid darkgrey;
    border-radius: 14px;
    box-shadow: -4px 0px 6px grey;
    background: #fafafa;
    font-family: sans-serif;
    display: inherit;
    flex-direction: column;
    width: 100%;
}

.section-main-box input[type='checkbox'] {
    min-width: 20px;
    min-height: 20px;
}

.title-page {
    text-align: center;
    font-size: 28px;
    padding: 3% 0%;
}

.content-box {
    padding: 0 6%;
    height: 100%;
    font-size: 21px;
}

.content-box select {
    height: 30px;
    font-size: 18px;
    background: #fafafa;
    border-radius: 3px;
    padding: 0 10px;
}

.data-box {
    border: 2px solid #505050;
    border-radius: 12px;
    min-inline-size: auto;
}

.register-type {
    margin-bottom: 20px;
    padding: 10px 15px 10px;
}

.register-type label {
    margin-right: 15px;
}

.field-box {
    display: flex;
    flex-direction: column;
    height: auto;
    max-height: 500px;
    overflow: hidden;
}

.field-box label {
    margin: 10px 0px;
    margin-right: 15px;
}

.field-box input {
    border-radius: 4px;
    font-size: 18px;
    font-family: monospace;
    padding: 4px 10px;
    margin-bottom: 5px;
    margin-right: 0;
    border-color: #d3d3d3;
}

.field-box input:focus {
    outline-offset: 1px;
    outline-color: unset;
}

.field-box textarea {
    margin: 15px;
    width: 100%;
    height: 80px;
    padding: 10px 20px;
    font-size: 18px;
    border: 1px solid gray
}

.buttonBox {
    display: flex;
    justify-content: flex-end;
    padding: 20px 23px;
    margin-top: 25px;
}

.buttonBox button:focus {
    outline: transparent;
}

.buttonBox button:active {
    box-shadow: none;
}

.submit-button {
    padding: 5px 30px;
    width: 135px;
    border: 1px solid darkgray;
    border-radius: 6px;
    box-shadow: 2px 2px 1px gray;
    cursor: pointer;
    margin-left: 20px;
    font-size: 17px;
}

.submit-button.confirm {
    border-color: green;
}

.submit-button.clean {
    border-color: red;
}

/* General mobile  ---------------------------------------*/
@media(max-width: 600px) {
    .title-page {
        padding: 7% 5%;
    }

    .field-box {
        justify-content: center;
        padding: 7% 5%;
        text-align: center;
    }

    main.content {
        padding: 20px 10px 20px 10px;
    }
   
    .register-type {
        margin-bottom: 20px;
        padding: 10px 15px 10px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .register-type label {
        margin-right: 0;
    }
    
    .submit-button {
        margin: 0;
    }

    .buttonBox {
        justify-content: center;
        margin-top: 5px;
    }
    
    .submit-button.confirm {
        margin-left: 30px;
    }
}

/* Register Section  -------------------------------*/
.register-section .field-box {
    max-height: 0;
    overflow: hidden;
    padding: 0px;
    transition: all ease-out 0.3s;
}

.logistic-operator .field-box.logistic-operator,
.delivery-man .field-box.delivery-man,
.scooter .field-box.scooter {
    padding: 3% 5%;
    transition-delay: 0.4s; 
}

.logistic-operator .field-box.logistic-operator {
    max-height: 160px;
}

.delivery-man .field-box.delivery-man {
    max-height: 360px;
}

.scooter .field-box.scooter{
    max-height: 250px;
 }

/* Register Section Mobile ------------------------- */
@media(max-width: 600px) {
    .logistic-operator .field-box.logistic-operator,
    .delivery-man .field-box.delivery-man,
    .scooter .field-box.scooter {
        padding: 7% 5%;
    }
}

/* Add Movement Section ------------------------- */
.add-movement-section .field-box {
    padding: 3% 5%;
    border-bottom: 1px solid #505050;
    flex-direction: row;
    flex-wrap: wrap;
    transition: max-height ease-out 0.5s, padding ease 1.2s;
}

section.add-movement-section .data-box :last-child.field-box {
    border: none;
}

.add-movement-section .field-box.accessories {
    justify-content: space-between;
}

.add-movement-section .field-box input {
    width: initial;
    display: flex;
    margin-left: 20px;
    margin-right: 25px;
}

.add-movement-section .field-box label {
    display: flex;
    margin-right: 215px;
}

.add-movement-section .data-box :last-child.field-box label {
    width: auto;
    margin: 0;
    display: contents;
}

.add-movement-section .field-box.accessories label{
    margin-right: 0;
}

.add-movement-section .field-box.acessories input {
    width: min-content;
}

.add-movement-section .content-box select {
    width: 200px;
    margin-left: 20px ;
}

.internal .field-box.delivery-man,
.internal .field-box.accessories {
    max-height: 0px;
    padding: 0;
}

.external .field-box.logistic-operator {
    max-height: 0px;
    padding: 0;
}

/* Add Movement Section Mobile------------------------- */

@media(max-width: 600px) {
    .add-movement-section .field-box input {
        margin-right: 0px;
        margin-left: 0px;
        overflow: hidden;
    }

    .add-movement-section .field-box label {
        margin-right: 0;
        flex-direction: column;
    }

    .add-movement-section .content-box select {
        width: 200px;
    }
}


/* Movement (hoot link) --------------------------------- */
.movement-section .content-box {
    padding: 0 2% 2%;
}

section.section-main-box.movement-section {
    display: flex;
}

.movement-section .important-data {
    display: flex;
    margin-bottom: 25px;
}

.movement-section .filters {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.movement-section .content-box .field-box {
    padding: 0 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.movement-section .content-box .filters .field-box {
    border: 2px solid gray;
    border-radius: 12px;
    margin: 10px 10px;
    padding: 9px 20px 15px;
    min-width: 300px;
}

.movement-section .content-box .field-box label {
    margin: 0;
    margin-bottom: 5px;
    max-width: 255px;
    min-height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.movement-section .content-box .field-box input {
    text-align: center;
    display: flex;
    margin: 0;
    width: -webkit-fill-available;
}

.movement-section .date-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    margin: 20px auto;
    border: 2px solid gray;
    border-radius: 14px;
    width: max-content;
}

.movement-section .date-filter .date-box {
    margin: 0 10px 0 0;
    height: 30px;
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
}

.movement-section .date-filter .date-box label {
    margin-right: 12px;
}

.movement-section .date-filter .date-box input {
    height: 30px;
    margin: 0 10px;
}

.movement-section .date-filter button {
    padding: 10px;
    background: #fafafa;
    border: 1px solid gray;
    box-shadow: 2px 2px 1px grey;
    border-radius: 9px;
    cursor: pointer;
    margin-left: 5px;
}

.movement-section .date-filter button:focus {
    outline: transparent;
}

.movement-section .date-filter button:active {
    box-shadow: none;
}

.table-movements {
    width: 100%;
    max-width: 100%;
    margin-bottom: 30px;
    background: #fff;
}

.movement-section .table-movements th.hidden,
.movement-section .table-movements td.hidden {
    padding: 0;
    transition: ease-in-out 0.5s;
}

.movement-section .table-movements td.delete {
    color: red;
    cursor: pointer;
}

.movement-section .table-movements td.pointer {
    cursor: pointer;
}

.table > thead > tr,
.table > tbody > tr,
.table > tfoot > tr {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.table-movements > thead > tr > th,
.table-movements > tbody > tr > th,
.table-movements > tfoot > tr > th,
.table-movements > thead > tr > td,
.table-movements > tbody > tr > td,
.table-movements > tfoot > tr > td {
    text-align: center;
    padding: 15px;
    vertical-align: top;
    border-top: 0;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

}

.table-movements > thead > tr >th {
    font-weight: 400;
    color: #757575;
    vertical-align: bottom;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.table-movements > caption + thead > tr:first-child > th,
.table-movements > colgroup + thead > tr:first-child > th,
.table-movements > thead:first-child > tr:first-child > th,
.table-movements > caption + thead > tr:first-child > th,
.table-movements > colgoup + thead > tr:first-child > th,
.table-movements > thead:first-child > tr:first-child > th {
    border-top: 0;
}

.table-movements > tbody + tbody {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.table-movements .table-movements {
    background: #fff;
}

.table-movements .no-border {
    border: 0;
}

.table-condensend > thead > tr > th,
.table-condensend > tbody > tr > th,
.table-condensend > tfoot > tr > th,
.table-condensend > thead > tr > td,
.table-condensend > tbody > tr > td,
.table-condensend > tfoot > tr > td {
    padding: 10px;
}

.table-bordered {
    border: 0;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 0;
    border-bottom: 1px solid #e0e0e0;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
    border-bottom-width: 2px;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #f5f5f5;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > td {
    background-color: rgba(0, 0, 0, 0.12);
}

.table-striped.table-mc-gray > tbody > tr:nth-child(odd) > td,
.table-striped.table-mc-gray > tbody > tr:nth-child(odd) > th {
    border: 1px solid #757575;
}

.table-hover.table-striped > tbody > tr:hover >td,
.table-hover.table-striped > tbody > tr:hover >th {
    background-color: #fafafa;
}

/* Movement (hoot link) Mobile ------------------------------ */
@media(max-width:600px) {
    .movement-section .date-filter .date-box {
        height: auto;
        margin: 0;
        flex-direction: column;
    }

    .movement-section .date-filter .date-box label {
        margin: 0;
        padding-bottom: 10px;
    }

    .movement-section .date-filter .date-box input {
        height: 40px;
        margin: 10px 10px;
        font-size: 16px;
    }

    .movement-section .date-filter button {
        padding: 15px 30px;
        margin-left: 0px;
        font-size: 17px;
        margin-top: 20px;
        width: 90%;
    }

    .movement-section .filters {
        flex-direction: column;
    }
}

@media screen and (max-width: 780px) {
    .movement-section .important-data {
        flex-direction: column;
    }

    .movement-section .date-filter {
        width: auto;
        flex-direction: column;
        margin: 20px 10px;
        padding: 20px 10px;
    }
}

@media screen and (max-width: 1675px) {
    .table-responsive-vertical > .table-movements {
        margin-bottom: 0;
        background-color: transparent;
    }

    .table-responsive-vertical > .table-movements > thead,
    .table-responsive-vertical > .table-movements > tfoot {
        display: none;
    }

    .table-responsive-vertical > .table-movements > tbody {
        display: block;
    }

    .table-responsive-vertical > .table-movements > tbody > tr {
        display: block;
        border: 1px solid #e0e0e0;
        border-radius: 2px;
        margin-bottom: 20px;
    }

    .table-responsive-vertical > .table-movements > tbody > tr > td {
        background-color: #fff;
        display: block;
        vertical-align: middle;
        text-align: right;
        min-height: 52px;
    }

    .table-responsive-vertical > .table-movements > tbody > tr > td[data-title]:before {
        content: attr(data-title);
        float: left;
        font-size: inherit;
        font-weight: 400;
        color: #757575;
    }

    .table-responsive-vertical > .table-bordered {
        border: 0;
    }

    .table-responsive-vertical > .table-bordered > tbody > tr > td {
        border: 0;
        border-bottom: 1px solid #e0e0e0;
    }

    .table-responsive-vertical > .table-bordered > tbody > tr > td,
    .table-responsive-vertical > .table-bordered > tbody > tr:nth-child(odd) {
        background-color: #fff;
    }

    .table-responsive-vertical > .table-bordered > tbody > tr > td:nth-child(odd) {
        background-color: #f5f5f5;
    }

    .table-responsive-vertical > .table-hover > tbody tr:hover > td,
    .table-responsive-vertical > .table-hover > tbody tr:hover {
        background-color: #fff;
    }

    .table-responsive-vertical > .table-hover > tbody tr > td:hover {
        background-color: rgba(0, 0, 0, 0.12);
    }
}


/* Modal Delete Movement --------------------------------- */
.content.dialog-section {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    margin-left: -37px;
    visibility: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

.content.dialog-section.show-up {
    visibility: visible;
}

.section-main-box.dialog-box {
    width: 300px;
    height: 200px;
    box-shadow: none;
    border: 2px solid gray;
}

.dialog-box .message {
    text-align: center;
    padding: 25px 30px 0;
}

.dialog-box .submit-button {
    padding: 5px 20px;
}

.dialog-box .submit-button.clean {
    margin: 0;
}

/* Details Movement Section */
.details-section .field-box label {
    margin: 0;
}

.details-section .data-box {
    padding: 40px 35px 30px;
}

.details-section .data-hora {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.details-section .field-box.movement {
    justify-content: space-around;
    flex-direction: row;
    border: 2px solid gray;
    border-radius: 14px;
    margin: 20px 0 0;
    padding: 15px 0;
}

.details-section .movement .field-box input{
    margin: 10px auto 0;
}

.details-section .field-box.destination-box {
    border: 2px solid gray;
    border-radius: 14px;
    margin-top: -2px;
}

.details-section .destination-box span {
    text-align: center;
    padding: 15px 0 24px;
}

.details-section .destination-choice {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

.field-box.destination-box .field-box {
    align-items: center;
    min-width: 100px;
}


/* Details Movement Section -------------------*/
@media(max-width: 600px) {
    .details-section .data-box {
        padding: 2% 4%;
    }
}

/* login ------------------------------- */

.content.login {
    justify-content: center;
    align-items: center;
    padding: 0;
}

.section-main-box.login-section {
    width: 300px;
}

.login-section .content-box{
    padding: 0
}

.login-section .data-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.login-section .data-box label {
    margin: 10px 0 0;   
}

.login-section .data-box input {
    height: 24px;
    padding: 2px 5px;
    margin-bottom: 10px;
    border: 1px solid;
}

.login-section .data-box  button {
    height: 40px;
    font-size: 18px;
    background-color: beige;
    cursor: pointer;
}
